table of contents
1. 準備
1. 大会の確認
1. CL
1. 03/04アーセナル

# 準備

In [14]:
import os, requests

import statsbomb as sb
import pandas as pd

In [13]:
BASE_URL = 'https://raw.githubusercontent.com/statsbomb/open-data/master/data'

# 大会の確認

In [2]:
comps = sb.Competitions()
print(len(comps))

36

In [3]:
comps_df = comps.get_dataframe()

In [4]:
comps_df[comps_df.competition_name.isin(['Champions League', 'Premier League'])]

,competition_id,season_id,country_name,competition_name,competition_gender,season_name,match_updated,match_available
0,16,4,Europe,Champions League,male,2018/2019,2020-02-27T12:19:39.458017,2020-02-27T12:19:39.458017
1,16,1,Europe,Champions League,male,2017/2018,2019-12-16T23:09:16.168756,2019-12-16T23:09:16.168756
2,16,2,Europe,Champions League,male,2016/2017,2020-05-18T11:36:03.329674,2019-12-16T23:09:16.168756
3,16,27,Europe,Champions League,male,2015/2016,2019-12-16T23:09:16.168756,2019-12-16T23:09:16.168756
4,16,26,Europe,Champions League,male,2014/2015,2019-12-16T23:09:16.168756,2019-12-16T23:09:16.168756
5,16,25,Europe,Champions League,male,2013/2014,2019-12-16T23:09:16.168756,2019-12-16T23:09:16.168756
6,16,24,Europe,Champions League,male,2012/2013,2019-12-16T23:09:16.168756,2019-12-16T23:09:16.168756
7,16,23,Europe,Champions League,male,2011/2012,2020-03-30T01:22:23.294715,2020-03-30T01:22:23.294715
8,16,22,Europe,Champions League,male,2010/2011,2020-03-02T16:11:41.638577,2020-03-02T16:11:41.638577
9,16,21,Europe,Champions League,male,2009/2010,2020-03-02T16:11:41.638577,2020-03-02T16:11:41.638577
10,16,41,Europe,Champions League,male,2008/2009,2020-03-30T20:52:11.085286,2020-03-30T20:52:11.085286
11,16,39,Europe,Champions League,male,2006/2007,2020-03-30T01:22:23.294715,2020-03-30T01:22:23.294715
12,16,37,Europe,Champions League,male,2004/2005,2020-01-22T05:40:31.414194,2020-01-22T05:40:31.414194
13,16,44,Europe,Champions League,male,2003/2004,2020-06-01T12:48:34.791198,2020-03-31T17:43:36.947682
14,16,76,Europe,Champions League,male,1999/2000,2020-04-03T08:44:23.412603,2020-04-03T08:44:23.412603
34,2,44,England,Premier League,male,2003/2004,2020-05-19T00:07:23.964220,2020-05-19T00:07:23.964220

# CL

## 試合

In [61]:
competition_id = 16
matches_df = pd.concat([pd.DataFrame(requests.get(f'{BASE_URL}/matches/{competition_id}/{season_id}.json').json()) for season_id in comps_df[comps_df.competition_id==competition_id].season_id.tolist()]).reset_index()

In [66]:
c_list = ['competition', 'season', 'home_team', 'away_team']
for c in c_list:
    k_list = [k for k in list(matches_df.at[0, c].keys()) if k.endswith('name')]
    for k in k_list:
        matches_df[k] = matches_df[c].apply(lambda x: x[k])

In [67]:
matches_df[[c for c in matches_df.columns if c.endswith('name') or c.endswith('id')]]

,match_id,country_name,competition_name,season_name,home_team_name,away_team_name
0,18245,Europe,Champions League,2017/2018,Real Madrid,Liverpool
1,18244,Europe,Champions League,2016/2017,Juventus,Real Madrid
2,18243,Europe,Champions League,2015/2016,Real Madrid,Atlético Madrid
3,18242,Europe,Champions League,2014/2015,Juventus,Barcelona
4,18241,Europe,Champions League,2013/2014,Real Madrid,Atlético Madrid
5,18240,Europe,Champions League,2012/2013,Borussia Dortmund,Bayern Munich
6,18237,Europe,Champions League,2011/2012,Bayern Munich,Chelsea
7,18236,Europe,Champions League,2010/2011,Barcelona,Manchester United
8,18235,Europe,Champions League,2009/2010,Bayern Munich,Inter Milan
9,3750201,Europe,Champions League,2008/2009,Barcelona,Manchester United
10,3750200,Europe,Champions League,2006/2007,AC Milan,Liverpool
11,2302764,Europe,Champions League,2004/2005,AC Milan,Liverpool

## イベントデータを抜いてみる

In [113]:
match_id = 18245
events_df = pd.DataFrame(requests.get(f'{BASE_URL}/events/{match_id}.json').json()).dropna(subset=['player']).reset_index(drop=True)

In [114]:
events_df.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'type',
       'possession', 'possession_team', 'play_pattern', 'team', 'duration',
       'tactics', 'related_events', 'player', 'position', 'location', 'pass',
       'carry', 'counterpress', 'under_pressure', 'dribble', 'ball_receipt',
       'interception', 'foul_won', 'ball_recovery', 'shot', 'goalkeeper',
       'duel', '50_50', 'substitution', 'foul_committed', 'clearance', 'block',
       'injury_stoppage'],
      dtype='object')

In [115]:
events_df.head()

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,ball_recovery,shot,goalkeeper,duel,50_50,substitution,foul_committed,clearance,block,injury_stoppage
0,10952dd9-0a07-4c26-9f8b-b526f7e1737b,5,1,00:00:00.001,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 24, 'name': 'Liverpool'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,c0e2ed56-985d-4db4-ae2d-b50577a731b5,6,1,00:00:01.201,0,1,"{'id': 42, 'name': 'Ball Receipt*'}",2,"{'id': 24, 'name': 'Liverpool'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0c12b3d3-ab6c-4e69-bb98-d6411b109fb6,7,1,00:00:01.201,0,1,"{'id': 43, 'name': 'Carry'}",2,"{'id': 24, 'name': 'Liverpool'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,058d0299-f746-4994-96a3-057174f98418,8,1,00:00:01.808,0,1,"{'id': 17, 'name': 'Pressure'}",2,"{'id': 24, 'name': 'Liverpool'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09524eeb-8118-4e7e-a389-91edf60bb396,9,1,00:00:02.128,0,2,"{'id': 30, 'name': 'Pass'}",2,"{'id': 24, 'name': 'Liverpool'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
c_list = ['type', 'possession_team', 'play_pattern', 'player']
for c in c_list:
    k_list = [k for k in list(events_df.at[0, c].keys()) if k.endswith('name')]
    for k in k_list:
        events_df[f'{c}_{k}'] = events_df[c].apply(lambda x: x[k] if x else None)

In [117]:
events_df[[c for c in events_df.columns if c.endswith('name')]].head(20)

,type_name,possession_team_name,play_pattern_name,player_name
0,Pass,Liverpool,From Kick Off,James Philip Milner
1,Ball Receipt*,Liverpool,From Kick Off,Dejan Lovren
2,Carry,Liverpool,From Kick Off,Dejan Lovren
3,Pressure,Liverpool,From Kick Off,Francisco Román Alarcón Suárez
4,Pass,Liverpool,From Kick Off,Dejan Lovren
5,Ball Recovery,Real Madrid,Regular Play,Raphaël Varane
6,Carry,Real Madrid,Regular Play,Raphaël Varane
7,Pass,Real Madrid,Regular Play,Raphaël Varane
8,Pressure,Real Madrid,Regular Play,James Philip Milner
9,Ball Receipt*,Real Madrid,Regular Play,Luka Modrić
10,Carry,Real Madrid,Regular Play,Luka Modrić
11,Pass,Real Madrid,Regular Play,Luka Modrić
12,Ball Receipt*,Real Madrid,Regular Play,Daniel Carvajal Ramos
13,Carry,Real Madrid,Regular Play,Daniel Carvajal Ramos
14,Pass,Real Madrid,Regular Play,Daniel Carvajal Ramos
15,Pressure,Real Madrid,Regular Play,Roberto Firmino Barbosa de Oliveira
16,Ball Receipt*,Real Madrid,Regular Play,Carlos Henrique Casimiro
17,Carry,Real Madrid,Regular Play,Carlos Henrique Casimiro
18,Pressure,Real Madrid,Regular Play,James Philip Milner
19,Dribbled Past,Real Madrid,Regular Play,James Philip Milner

# 03/04アーセナル

## 試合

In [46]:
competition_id = 2
matches_df = pd.concat([pd.DataFrame(requests.get(f'{BASE_URL}/matches/{competition_id}/{season_id}.json').json()) for season_id in comps_df[comps_df.competition_id==competition_id].season_id.tolist()]).reset_index()

In [47]:
c_list = ['competition', 'season', 'home_team', 'away_team']
for c in c_list:
    k_list = [k for k in list(matches_df.at[0, c].keys()) if k.endswith('name')]
    for k in k_list:
        matches_df[k] = matches_df[c].apply(lambda x: x[k])

In [48]:
matches_df[[c for c in matches_df.columns if c.endswith('name') or c.endswith('id')]]

,country_name,competition_name,season_name,home_team_name,away_team_name
0,England,Premier League,2003/2004,Wolverhampton Wanderers,Arsenal
1,England,Premier League,2003/2004,Arsenal,Chelsea
2,England,Premier League,2003/2004,Aston Villa,Arsenal
3,England,Premier League,2003/2004,Arsenal,Middlesbrough
4,England,Premier League,2003/2004,Arsenal,Tottenham Hotspur
5,England,Premier League,2003/2004,Arsenal,Portsmouth
6,England,Premier League,2003/2004,Liverpool,Arsenal
7,England,Premier League,2003/2004,Middlesbrough,Arsenal
8,England,Premier League,2003/2004,Arsenal,Birmingham City
9,England,Premier League,2003/2004,Birmingham City,Arsenal
10,England,Premier League,2003/2004,Arsenal,Liverpool
11,England,Premier League,2003/2004,Blackburn Rovers,Arsenal
12,England,Premier League,2003/2004,Manchester City,Arsenal
13,England,Premier League,2003/2004,Charlton Athletic,Arsenal
14,England,Premier League,2003/2004,Arsenal,Wolverhampton Wanderers
15,England,Premier League,2003/2004,Arsenal,Everton
16,England,Premier League,2003/2004,Arsenal,Charlton Athletic
17,England,Premier League,2003/2004,Arsenal,Newcastle United
18,England,Premier League,2003/2004,Manchester United,Arsenal
19,England,Premier League,2003/2004,Arsenal,Leicester City
20,England,Premier League,2003/2004,Arsenal,Manchester United
21,England,Premier League,2003/2004,Bolton Wanderers,Arsenal
22,England,Premier League,2003/2004,Chelsea,Arsenal
23,England,Premier League,2003/2004,Southampton,Arsenal
24,England,Premier League,2003/2004,Arsenal,Manchester City
25,England,Premier League,2003/2004,Arsenal,Leeds United
26,England,Premier League,2003/2004,Fulham,Arsenal
27,England,Premier League,2003/2004,Arsenal,Bolton Wanderers
28,England,Premier League,2003/2004,Arsenal,Blackburn Rovers
29,England,Premier League,2003/2004,Arsenal,Fulham
30,England,Premier League,2003/2004,Tottenham Hotspur,Arsenal
31,England,Premier League,2003/2004,Leeds United,Arsenal